{% extends 'wrapper.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
      <!-- adminx-content-aside -->
      <div class="adminx-content">
        <!-- <div class="adminx-aside">

        </div> -->

        <div class="adminx-main-content">
          <div class="container-fluid">
            <!-- BreadCrumb -->
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb adminx-page-breadcrumb">
                <li class="breadcrumb-item"><a href="#">Bosh sahifa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Buyurtma</li>
              </ol>
            </nav>

            <div class="pb-3">
              <h1>Buyurtma </h1>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card mb-grid">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <div class="card-header-title">Buyurtma bajarildi !</div>
                          </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h3>Ism: {{ order.name }}</h3>
                                    </li>
                                     <li class="list-group-item">
                                        <h3>Manzil: {{ order.address }}</h3>
                                    </li>
                                     <li class="list-group-item">
                                        <h3>Telefon: {{ order.phone }}</h3>
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>

{% endblock %}