{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Card section's start -->
<section>

    <div class="wrapper">
        <p class="font-600"><span class="oranged">{{product.name}} haqida</span></p>
        <div class="colorful_images_wrapper">
            <div class="d-flex align-items-center justify-content-between ">
                <div>
                    <a href="#l">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                </div>
                <img src="{% static 'image/image 11.png' %}" alt="logos-image">
            </div>


            <!--Images Wrapper  -->
            {% if product.image2 or product.image3 %}
            <div class="row">
                <div class='col-sm-12 col-md-12'>
                    <div class="row">
                        <div class='col-sm-12 col-md-6'>
                           <center>
                            <img class="w-100" src="{{product.image1.url}}">
                           </center>
                        </div>
                        <div class='col-sm-12 col-md-6 px-3'>
                            <h1 class="fw-bold fs-1 text-warning">${{product.price}}</h1>
                            <h4 class="fw-bold">{{product.name}}</h4>
                            {% if product.in_stock %}
                            <p>                                
                                Omborda : <i class='fas fa-check'></i> <br>
                                Soni : {{product.count}}                               
                            </p>
                            {% endif %}
                            <p class="fw-bold">                                
                                Kategoriyasi : {{ product.category }}                               
                            </p>
                            
                            <p class="font-600">{{product.description}}</p>
                                  <!-- Second Div -->
                        <div class="btns-wrapper">
                            <a class="buy font-500" href="#">Sotib olish!</a>
                            <a class="add-to-basket font-500" href="#">Savatchaga olish</a>
                        </div>
                        </div>
                    </div>
                    
                </div>
                {% else%}
                <div class='col-sm-12 col-md-12'>
                    <div class="row">
                        <div class='col-sm-12 col-md-6'>
                            <center>
                                <img class="w-100" src="{{product.image1.url}}">
                            </center>
                            <br>
                        </div>
                        <div class='col-sm-12 col-md-6 px-3'>
                            <h1 class="fw-bold fs-1 text-warning">${{product.price}}</h1>
                            <h4 class="fw-bold">{{product.name}}</h4>
                            {% if product.in_stock %}
                            <p>                                
                                Omborda : <i class='fas fa-check'></i> <br>
                                Soni : {{product.count}}                               
                            </p>
                            {% endif %}
                            <p class="fw-bold">                                
                                Kategoriyasi : {{ product.category }}                               
                            </p>
                            
                            <p class="font-600">{{product.description}}</p>
                            <div class="btns-wrapper">
                                <a class="buy font-500" href="#">Sotib olish!</a>
                                <a class="add-to-basket font-500" href="#">Savatchaga olish</a>
                            </div>
                        </div>
                        </div>
                    </div>
                    
                </div>
                {% endif %}
                <!-- <div class='col-sm-12 col-md-6'>
                    {% if product.image2 %}
                    <img class="w-50" src="{{product.image2.url}}">
                    {% endif %}
                    <br>
                    {% if product.image3 %}
                    <img class="w-50" src="{{product.image3.url}}">
                    {% endif %}
                </div> -->
                
         
            </div>
            <br>
  
        </div>
    </div>
</section>
<!-- Card sectiom's end -->
<!-- <//////////////> -->
<!-- <//////////////> -->
<!-- <//////////////> -->

<br>




{% endblock %}