{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Baskets-Section -->
{% if cart.products %}
<h1>Products</h1>
{% else %}
<section>
  <div class="wrapper">
   <div class="empty-basket-wr">
       <div class="bas-wr">
       <img class="img-fluid" src="{% static 'image/Illustration.png' %}" alt="empty-box's-image"><br>
       <h3 class="empty-title font-500">Savatcha bo'sh</h3>
       <p class="empty-paragraph">Buni tog'irlash uchun hali kech emas :)</p>    
       <a href="bookclothe.html" class="empty-btn font-500">Tovarlar katalogiga</a>
       </div>
       </div>        
  </div>
   </section>
   {% endif %}

    {% endblock %}